/*Header starts here*/
header{
    padding-bottom: 60px;
    background-color: #0F3D3E;
    color: white;
}

/*hr-info includes the welcome message, current status, and buttons*/
#hr-info{
    text-align: center;
}

#hr-info > h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 2.5em;
}

#hr-info > h1 > #HW {
    color: #39ff14;
}

#hr-info > p{
    font-size: 1.5em;
    width: 60%;
    margin:auto;
    padding-bottom: 40px;
}

#hr-buttons{
    width: 20%;
    margin: auto;
    display: flex;
}

#hr-buttons > button{
    margin: auto;
}